[user]
	name = fourdim
	email = noreply@fourdim.xyz
	signingkey = E931653E07A147A6!
[credential "https://github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/usr/bin/gh auth git-credential
[credential "https://gitlab.com"]
	helper = store --file ~/.git-credentials
[init]
	defaultBranch = main
[commit]
	gpgsign = true
# [http]
# 	proxy = http://192.168.254.1:17992
# 	postBuffer = 524288000
[push]
	autoSetupRemote = true
