node-mirror:release=https://npmmirror.com/mirrors/node/
node-mirror:rc=https://npmmirror.com/mirrors/node-rc/
node-mirror:nightly=https://npmmirror.com/mirrors/node-nightly/
registry=https://registry.npmmirror.com/
proxy=http://192.168.254.1:17992/
https-proxy=http://192.168.254.1:17992/
